.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .service-card {
    background-color: #e79ada;
    border-radius: 10px;
    padding: 20px;
  }
  
  .service-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .service-description {
    margin-top: 10px;
  }
  
  .service-icon {
    width: 50px;
    height: 50px;
    background-color: #a791f7;
    border-radius: 50%;
  }
  .service-card:hover {
    background-color: #c9fa89;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
    